<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Quizmaster</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
  </head>
  <body>
    <h1>Quizmaster</h1>
    <%= yield %>
  </body>
</html>