<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Quizmaster</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <script type="text/javascript" src="/jquery-2.1.3.js"></script>
    <script type="text/javascript" src="/javascript.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {        
        // $('.logo-text').html('Hello World!');        
        // $('div').css('background-color', 'red');
        // var paragraphs = $('h3');
        // alert(paragraphs.length);
        // $('h3').each(function () { alert($(this).html()); });
        // $('input[type="text"]').css('background-color', 'yellow');
        // alert("This pops once everything is loaded!")
      });
    </script>
  </head>

  <body>
    <div class="container">
    	<h1 class="logo-text">
    		quizMaster
		  </h1>
      <%= yield %>
      <!-- <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      </p> -->
    </div>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  </body>
</html>