<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Quizmaster</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">    
  </head>

  <body>
    <div class="container">
    	<h1 class="logo-text">
    		quizMaster
		  </h1>
      <%= yield %>
    </div>

    <div id="ajax-here"></div>

    <script type="text/javascript" src="/js/jquery-2.1.3.js"></script>    
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascript.js"></script>
  </body>
</html>