<% if !params[:quiz] %>
  <h3>Select quiz:</h3>

  <form action="/" method='post'>
    <input type='text' name='quiz' autofocus/>
    <input type='submit'/>
  </form>

<% else %>

  <h3> You have selected '<%= params[:quiz] %>'</h3>
  <a href="/quizmaster?quiz=<%= params[:quiz] %>&q=0">YES! Take me to the quiz!</a></br>
  <a href="/">NO! I want to select a different quiz.</a>

<% end %>