.logo-text {
	color: red;
}

.wrong {
	color: red;
}

.right {
	color: rgb(103, 155, 103);
}

.answer {
	color: #337ab7;
}

div.gabri-button {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #c3d9f7;
    text-align: center;
    color: #FFFFFF;
    font-family: Verdana, Arial, Sans-Serif;
    opacity: 0.5;
    display: inline-block;
}

/*body {
	padding: 0px;
	border: 0px solid black;
	margin: 0px;
}

div {
	padding: 0px;
	border: 0px solid black;
	margin: 0px;
}

h1 {
	padding: 0px;
	border: 0px solid black;
	margin: 0px;
}

p {
	padding-top: 0px;
	border: 0px solid black;
	margin: 0px;
}*/

/** {
	box-sizing: border-box;
	padding: 5px;
	border: 2px solid black;
	margin: 5px;
}*/
/*	height: 200px;
	width: 250px;*/